{% extends 'base_logged.html' %}

{% block title %} Meus Resíduos {% endblock %}

{% block main %}

    <div class="jumbotron">
        <h1>Meus Resíduos</h1>
    </div>
    {% if my_wastes_with_me %}
        <table class="table table-striped table-responsive-md">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Resíduo</th>
                <th scope="col">Data de modificação</th>
                <th scope="col" class="text-center">Editar</th>
                <th scope="col" class="text-center">Deletar</th>
                <th scope="col" class="text-center">Etiqueta</th>
                <th scope="col" class="text-center">Favoritar</th>
                <th scope="col" class="text-center">Enviar</th>
            </tr>
            </thead>
            <tbody>
            <form id="send-form">
                {% for waste in my_wastes_with_me %}
                    <tr>
                        <th scope="row">{{ waste.chemical_makeup_names }}</th>
                        <td>{{ waste.last_modified_date }}</td>
                        <td class="text-center">
                            <a class="btn btn-info"
                               href="{% url 'update_waste' waste.id %}">
                                <i class="fas fa-pen fa-2x"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-danger"
                                    data-toggle="modal"
                                    data-target="#delete-{{ waste.id }}">
                                <i class="fas fa-trash-alt fa-2x"></i>
                            </button>

                            <div class="modal fade bd-example-modal-sm"
                                 tabindex="-1" role="dialog"
                                 aria-labelledby="DeleteWasteModal"
                                 aria-hidden="true"
                                 id="delete-{{ waste.id }}">
                                <div class="modal-dialog modal-dialog-centered modal-sm"
                                     role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"
                                                id="exampleModalLongTitle">
                                                Deletar</h5>
                                            <button type="button" class="close"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            Você confirmar que quer deletar:
                                            <strong class="text-danger font-weight-bold">{{ waste.chemical_makeup_names }}</strong>?
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn btn-secondary"
                                                    data-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <a class="btn btn-danger"
                                               href="{% url 'delete_waste' waste.id %}">
                                                Deletar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                        <td class="text-center">
                            <a class="btn btn-warning"
                               href="{% url 'pdf_waste' waste.id %}">
                                <i class="fas fa-file-alt fa-2x"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-success"
                               href="{% url 'bookmark_waste' waste.id %}">
                                <i class="fas fa-star fa-2x text-warning"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <div class="custom-control custom-checkbox">

                                <input type="checkbox"
                                       name="{{ waste.id }}"
                                       class="custom-control-input big-checkbox"
                                       id="{{ waste.id }}">
                                <label class="custom-control-label"
                                       for="{{ waste.id }}">
                                </label>

                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </form>
            </tbody>
        </table>
    {% endif %}

    <h4>
        <a class="btn btn-primary my-1" href="{% url 'create_waste' %}">Novo
            Resíduo</a>
        {% if my_wastes_with_me %}
            <button form="send-form" class="btn btn-secondary my-1"
                    type="submit">
                Enviar
                Resíduos
                Selecionados
            </button>
        {% endif %}
    </h4>

    {% if my_bookmarked_wastes %}
        <div class="jumbotron">
            <h1>Meus Resíduos Favoritos</h1>
        </div>

        <table class="table table-striped table-responsive-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Resíduo</th>
                <th scope="col" class="text-center">Utilizar</th>
                <th scope="col" class="text-center">Deletar</th>
            </tr>
            </thead>
            <tbody>
            {% for bwaste in my_bookmarked_wastes %}
                <tr>
                    <th scope="row">{{ bwaste.chemical_makeup_names }}</th>
                    <td class="text-center">
                        <a class="btn btn-info"
                           href="{% url 'use_bookmarked_waste' bwaste.id %}">
                            <i class="far fa-arrow-alt-circle-up fa-2x"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-danger"
                                data-toggle="modal"
                                data-target="#delete-b-{{ bwaste.id }}">
                            <i class="fas fa-trash-alt fa-2x"></i>
                        </button>

                        <div class="modal fade bd-example-modal-sm"
                             tabindex="-1" role="dialog"
                             aria-labelledby="DeleteWasteModal"
                             aria-hidden="true"
                             id="delete-b-{{ bwaste.id }}">
                            <div class="modal-dialog modal-dialog-centered modal-sm"
                                 role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="exampleModalLongTitle">
                                            Deletar</h5>
                                        <button type="button" class="close"
                                                data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        Você confirmar que quer deletar o
                                        favorito:
                                        <strong class="text-danger font-weight-bold">{{ bwaste.chemical_makeup_names }}</strong>?
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button"
                                                class="btn btn-secondary"
                                                data-dismiss="modal">Cancelar
                                        </button>
                                        <a class="btn btn-danger"
                                           href="{% url 'delete_bookmarked_waste' bwaste.id %}">
                                            Deletar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if my_wastes_status_2 %}
        <div class="jumbotron">
            <h1>Meus Resíduos Enviados</h1>
        </div>

        <table class="table table-striped table-responsive-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Resíduo</th>
                <th scope="col" class="text-center">Situação</th>
                <th scope="col" class="text-center">Etiqueta</th>
                <th scope="col" class="text-center">Cancelar envio</th>
            </tr>
            </thead>
            <tbody>
            {% for waste in my_wastes_status_2 %}
                <tr>
                    <th scope="row">{{ waste.chemical_makeup_names }}</th>
                    <td class="text-center">{{ waste.get_status_display }}</td>
                    <td class="text-center">
                        <a class="btn btn-warning"
                           href="{% url 'pdf_waste' waste.id %}">
                            <i class="fas fa-file-alt fa-2x"></i>
                        </a>
                    </td>

                    <td class="text-center">
                        <a class="btn btn-danger"
                           href="{% url 'cancel_dispatch' waste.id %}">
                            <i class="fas fa-ban fa-2x"></i>
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}