{% extends 'base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block title %} Recuperação de Senha {% endblock %}

{% block main %}

    <div class="card border-light bg-light mb-3" style="max-width: 100rem;">
        <div class="card-header text-white bg-dark">
            <h1 class="text-center">Recuperação de senha</h1>
        </div>
        <div class="card-body">

            <div class="row justify-content-md-center">
                <div class="col col-sm"></div>
                <div class="col-md-8">

                    <form method="post">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <!--{{ form.email.label_tag }}-->
                                {% render_field form.email class+="form-control" placeholder=form.email.label aria-describedby="emailHelpBlock" %}
                                <small id="emailHelpBlock"
                                       class="form-text text-muted">
                                    {{ form.email.help_text }}
                                </small>
                                {% if form.errors %}
                                    {% for error in form.email.errors %}
                                        <div class="alert alert-warning">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="card-footer bg-transparent align-middle">
                            <button class="btn btn-light btn-lg btn-block" type="submit">
                                Enviar
                            </button>
                        </div>

                    </form>
                </div>
                <div class="col col-sm"></div>
            </div>

        </div>
    </div>


{% endblock %}